<fieldset>
  <legend>Add User</legend>
  <label>
    Firstname: <input type="text" name="userdata" size="15"/>
  </label>
  <label>
    Surname: <input type="text" name="userdata" size="20"/>
  </label>
  <br>
  <label>
    Email: <input type="text" name="userdata" size="60"/>
  </label>
  <label>
    Password: <input type="text" name="userdata" size="15"/>
  </label>
  <label>
    Phone: <input type="text" name="userdata" size="15"/>
  </label>
  <label>
    Cell: <input type="text" name="userdata" size="15"/>
  </label>
  <label>
    Practise: <input type="text" name="userdata" size="60"/>
  </label>
  <br/>
  <Label>User Role:</label>
  <label for="roleA">
    <input id="roleA" type="radio" name="role"/> System Administrator
  </label>
  <label for="roleB">
    <input id="roleB" type="radio" name="role"/> Practise Administrator
  </label>
  <label for="roleC">
    <input id="roleC" type="radio" name="role"/> Adviser
  </label>
  <label for="roleD">
    <input id="roleD" type="radio" name="role"/> CC Agent
  </label>
  <br/>
  <input type="button" value="Add User" onclick="addUser()"/>
</fieldset>
<br/>
