<label>Preferred Language*:</label>
<label for="afr">
  <input id="afr" type="radio" name="langPref" value="Afrikaans"/> Afrikaans
</label>
<label for="eng">
  <input id="eng" type="radio" name="langPref" value="English"/> English
</label>

<span class="spacer">
  <label>Cover for self or for legal entity?*:</label>
</span>
<label for="person">
  <input id="person" type="radio" name="entity" value="Person"/> Self
</label>
<label for="legal">
  <input id="legal" type="radio" name="entity" value="Legal"/> Entity
</label>

<span class="spacer">
  <label>Previously Insurred*: </label>
</span>
<label for="insYes">
  <input id="insYes" type="radio" name="prevIns" value="Yes"/> Yes
</label>
<label for="insNo">
  <input id="insNo" type="radio" name="prevIns" value="No"/> No
</label>
<br/>

<label>
  Entity Name:
  <input id="entityName" type="text" name="entityName" size="50"/>
</label>

<label>
  ID/Registration Number: <input id="entityRefNum" type="text" name="entityRefNum" size="15"/>
</label>

<label>
  Current Insurer*: <input id="currInsurer" type="text" name="currInsurer" size="20" required/>
</label>