<div class="flex-container">
  <div class="flex-item">
    <label for="conTitle" >Title*:
      <input id="conTitle" type="text" list="titles" name="conTitle" size="5" required/>
      <datalist id="titles">
        <option value="Mr.">
        <option value="Mrs.">
        <option value="Mx.">
        <option value="Ms.">
        <option value="Miss">
        <option value="Master">
        <option value="Madam">
        <option value="Hon.">
        <option value="Prof.">
        <option value="Dr.">
        <option value="Hon.">
        <option value="Rev.">
      </datalist>
    </label>
  </div>

  <div class="flex-item">
    <label>
      First Name*: <input id="conFirstName" type="text" name="firstname" size="15" required/>
    </label>
  </div>

  <div class="flex-item">
    <label>
      Surname*: <input id="conSurname" type="text" name="surname" size="20" required/>
    </label>
  </div>

  <div class="flex-item">
    <label>
      Contact Num*: <input id="conTelNum" type="text" name="contactNum" size="15" required/>
    </label>
  </div>

  <div class="flex-item">
    <label>
      Cell Number: <input id="conCellNum" type="text" name="cellNumber" size="15"/>
    </label>
  </div>

  <div class="flex-item">
    <label>
      Alternate Num: <input id="conAltNum" type="text" name="altNumber" size="15"/>
    </label>
  </div>

  <div class="flex-item">
    <label>
      Email: <input id="conEMail" type="email" name="eMail" size="60"/>
    </label>
  </div>

</div>