<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LDM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

  <script src="javascripts/script-general.js" defer></script>
  <script src="javascripts/script-utils.js" defer></script>
  <script src="javascripts/script-admin.js" defer></script>
  <script src="javascripts/script-lead.js" defer></script>
  <script src="javascripts/script-practice.js" defer></script>
  <script src="javascripts/script-adviser.js" defer></script>
</head>

<body>

  <header class="clearfix">
    <% include ./partials/uiHeader %>
	</header>

  <nav id="nav" style="display:none">
    <% include ./partials/uiNav %>
  </nav>

  <section id="section" style="display:none">

    <!-- Modal View -->
    <div id="viewModal" style="display:none"></div>
      <% if (modalDef.length) { %>
        <% include ./partials/<%= modalDef %> %>
      <% } %>
    </div>
    <!-- Function View -->
    <div id="viewFunction" style="display:none">
      <% if (viewDef.length) { %>
        <% include <%= viewDef %> %>
      <% } %>
    </div>
  </section>

	<footer>
		<% include ./partials/uiFooter %>
	</footer>

</body>
</html>