<!-- Insurance Types -->
<label for="personal">
  <input id="personal" type="radio" name="line" onclick="javascript:line();"/>
  Personal
</label>
<label for="commercial">
  <input id="commercial" type="radio" name="line" onclick="javascript:line();"/>
  Commercial
</label>
<label for="sasria">
  <input id="sasria" type="radio" name="line" onclick="javascript:line();"/>
  SASRIA
</label>
<label for="agriculture">
  <input id="agriculture" type="radio" name="line" onclick="javascript:line();"/>
  Agriculture
</label>
<label for="specialist">
  <input id="specialist" type="radio" name="line" onclick="javascript:line();"/>
  Specialist
</label>
