<!-- Insurance Types - Radio Button Select -->
<label for="pInsLine">
  <input id="pInsLine" type="radio" name="insLine" value="PL" onclick="javascript:line();"/>
  Personal
</label>
<label for="cInsLine">
  <input id="cInsLine" type="radio" name="insLine" value="CL" onclick="javascript:line();"/>
  Commercial
</label>
<label for="sInsLine">
  <input id="sInsLine" type="radio" name="insLine" value="SL" onclick="javascript:line();"/>
  SASRIA
</label>
<label for="aInsLine">
  <input id="aInsLine" type="radio" name="insLine" value="AL" onclick="javascript:line();"/>
  Agriculture
</label>
<label for="xInsLine">
  <input id="xInsLine" type="radio" name="insLine" value="XL" onclick="javascript:line();"/>
  Specialist
</label>
