<!-- Insurance Lines - checkbox select -->
<!--
<% for (var i = 0; i < productDef.length; i++) { %>
  <input id="line-<%= i %>" type="checkbox" name="line" value="<%= productDef[i].lineValue %>"> 
  <%= productDef[i].lineLabel %>
<% } %>
<br>
-->
<!--
<label for="p-line">
  <input id="p-line" type="checkbox" name="line" value="PL" onclick="javascript:plDispSwitch();"/>
  Personal
</label>
<label for="c-line">
  <input id="c-line" type="checkbox" name="line" value="CL" onclick="javascript:clDispSwitch();"/>
  Commercial
</label>
<label for="s-line">
  <input id="s-line" type="checkbox" name="line" value="SL" onclick="javascript:slDispSwitch();"/>
  SASRIA
</label>
<label for="a-line">
  <input id="a-line" type="checkbox" name="line" value="AL" onclick="javascript:alDispSwitch();"/>
  Agriculture
</label>
<label for="x-line">
  <input id="x-line" type="checkbox" name="line" value="XL" onclick="javascript:xlDispSwitch();"/>
  Specialist
</label>
-->
