<div id="addLeadButtons" style="display:none">
  <button type="button" onclick="addLeadCtrl()">Create Lead</button>
  <button type="button" onclick="resetForm()">Clear</button>
</div>

<div id="updateLeadButtons" style="display:none">
  <input id="updateLead" type="button" value="Update" onclick="updateLead()"/>
</div>

<div id="practiceLeadButtons" style="display:none">
  <input id="assignLead" type="button" value="Assign/Re-assign Lead" onclick="assignLead()"/>
  <input id="rejectLeadP" type="button" value="Reject Lead" onclick="rejectLead('P')"/>
</div>

<div id="adviserLeadButtons" style="display:none">
  <input id="adv-updateLead" type="button" value="Update Lead" onclick="updateLead()"/>
  <input id="rejectLeadA" type="button" value="Reject Lead" onclick="rejectLead('A')"/>
</div>