
<div class="flex-container">
  <div class="flex-item">
    <label>
      Postal Code <input id="conPostCode" type="text" name="postalCode" size="4" required/>
    </label>
    <br/>
    <label>
      Suburb* <input id="conSuburb" type="text" name="suburb" size="20" required/>
    </label>
  </div>
  <div class="flex-item">
    <label>
      Street Number <input id="conStreetNum" type="text" name="streetNum" size="5"/>
    </label>
    <br/>
    <label>
      Street Name <input id="conStreetName" type="text" name="streetName" size="20"/>
    </label>
  </div>
  <div class="flex-item">
    <label>
      Building Name <input id="conBuildName" type="text" name="buildingName" size="25"/>
    </label>
    <br/>
    <label>
      Floor <input id="conBuildFloor" type="text" name="floor" size="3"/>
    </label>
    <label>
      Room <input id="conBuildRoom" type="text" name="room" size="10"/>
    </label>
  </div>
  <div class="flex-item">
    <label>
      Postal Code <input id="conBoxPostCode" type="text" name="boxPostalCode" size="4"/>
    </label>
    <br/>
    <label>
      P.O. Box <input id="conBoxNum" type="text" name="box" size="10"/>
    </label>
  </div>
</div>
