<!--
  ====================
  The model view setup
  ====================
-->
<!-- === Modal based on w3schools example === -->
<div id="modalBox" class="modal">

  <div class="modal-content">

    <!-- Header -->
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 id="modal-header-text">XXXXXX</h2>
    </div>

    <!-- Body -->
    <div class="modal-body">
      <!--
        Place holders for modal forms as required per role
      -->

      <% if (view === "admin") { %>

        <!-- User Detail View -->
        <div id="User-view" style="display:none">
          <form id="user-form">
            <% include ./modalUser %>
          </form>
        </div>

        <!-- Practice Detail View -->
        <div id="Practice-view" style="display:none">
          <form id="practice-form">
            <% include ./modalPractice %>
          </form>
        </div>

      <% } %>

      <% if (view === "agent" || view === "practice" || view === "adviser") { %>

        <!-- Lead form for viewing and adding a lead -->
        <div id="lead-view" style="display:none">
          <form id="lead-form">
            <% include ./modalLead %>
          </form>
        </div>

        <!-- Lead form for viewing and updating a lead's progress -->
        <div id="lead-progress" style="display:none">
          <!--
            When adding a lead and the agent selects -
              to fulfil the request display to obtain progress from agent
              that an adviser must fulfil the request this is not displayed
            When viewing a lead this is always displayed to update the progress of the lead
          -->
          <form id="leadProgressForm">
            <% include ./progress %>
          </form>
        </div>

        <!-- Lead action buttons -->
        <div id="lead-action-buttons">
          <% include ./leadButtons %>
        </div>

        <!-- Place holder for messages -->
        <div id="leadMsg" class="warning"></div>

      <% } %>

      <!--
        Future development
      -->
      <% if (view === "XXXX") { %>
        <!-- Profile Detail View -->
        <div id="editProfile" style="display:none">
          <form id="formProfile">
            <% include ./modalProfile %>
          </form>
        </div>
      <% } %>

    </div>

      <!-- Footer -->
    <div class="modal-footer">
      * = mandatory
      <p id="errMsg"> </p>
    </div>
  </div>

</div>