<!--
User Description attributes
-->
<label>
  First Name: <input id="u0" type="text" name="firstName" size="15"/>
</label>
<label>
  Surname: <input id="u1" type="text" name="surname" size="20"/>
</label>
<label>
  Password: <input id="u2" type="text" name="password" size="15"/>
</label>
<br/>
<label>
  Phone: <input id="u3" type="text" name="phone" size="15"/>
</label>
<label>
  Cell: <input id="u4" type="text" name="cell" size="15"/>
</label>
<label>
  Email: <input id="u5" type="email" name="email" size="60"/>
</label>
<br/>
<label>
  Practice: <input id="u6" type="text" name="practice" size="60"/>
</label>
<br/>
<!--
User Role Selection
-->
<label><b>Select User's Role:</b></label>
<label for="roleA">
  <input id="roleA" type="radio" name="role" value="A" onclick="javascript:isAdviser();"/>
  System Administrator
</label>
<label for="roleB">
  <input id="roleB" type="radio" name="role" value="B" onclick="javascript:isAdviser();"/>
  Practise Administrator
</label>
<label for="roleC">
  <input id="roleC" type="radio" name="role" value="C" onclick="javascript:isAdviser();"/>
  Adviser
</label>
<label for="roleD">
  <input id="roleD" type="radio" name="role" value="D" onclick="javascript:isAdviser();"/>
  Capture Leads
</label>
<br/>
<!--
If user role = Adviser select service abilities.
Note that this is not mandatory as it can maintained by the practice.
The skills of the adviser must be captured for it to be considered
during the leads allocation process.
-->
<div id="selectAbility" style="display:none">
  <br/>
  <strong>Select Adviser's Service Skill Lines:</strong>
  <% include ./servLinesCBox %>
  <!--
  === Sub-view for Type of Cover ===
  -->
  <!-- Personnal Insurance Selected -->
  <div id="dispPersServ" style="display:none">
    <fieldset>
      <legend>Personal Line Skills:</legend>
      <% include ./typePersonal %>
    </fieldset>
  </div>
  <!-- Commercial Insurance Selected -->
  <div id="dispCommServ" style="display:none">
    <fieldset>
      <legend>Commercial Line Skills:</legend>
      <% include ./typeCommercial %>
    </fieldset>
  </div>
  <!-- SASRIA Insurance Selected -->
  <div id="dispSasrServ" style="display:none">
    <fieldset>
      <legend>Sasria Line Skills:</legend>
      <% include ./typeSasria %>
    </fieldset>
  </div>
  <!-- Agriculture Insurance Selected -->
  <div id="dispAgriServ" style="display:none">
    <fieldset>
      <legend>Agriculture Line Skills:</legend>
      <% include ./typeAgri %>
    </fieldset>
  </div>
  <!-- Specialist Insurance Selected -->
  <div id="dispSpecServ" style="display:none">
    <fieldset>
      <legend>Specialist Line Skills:</legend>
      <% include ./typeSpecialist %>
    </fieldset>
  </div>
</div>
<div id="addUserButtons" style="display:none">
  <input id="formAddUser" type="button" value="Add User" onclick="submitUser('add')"/>
</div>
<div id="updateUserButtons" style="display:none">
  <input id="formAddUser" type="button" value="Update User" onclick="submitUser('update')"/>
  <input id="formAddUser" type="button" value="Delete User" onclick="deleteUser()"/>
</div>


<!-- <input type="reset"/> -->
