<!--
  ===============================================================================
  Practice Maintenance - Add, Update and Delete
  Deleting a practice would have to be done subject to conditions
  For example the practice should have no advisers and no leads associated to it.
  ===============================================================================
-->
<fieldset>
  <legend>Practice Information:</legend>
  <label>
    Practice Code: <input id="pracCode" type="text" name="pracCode" size="10" required/>
  </label>
  <label>
    Practice Name: <input id="pracName" type="text" name="pracName" size="45" required/>
  </label>
  <label>
    Practice Phone: <input id="pracPhone" type="text" name="pracPhone" size="15" required/>
  </label>
  <br/>
  <label>
    Practice Email: <input id="pracEmail" type="email" name="pracEmail" size="60" required/>
  </label>
</fieldset>
<br/>
<fieldset>
  <legend>Principle:</legend>
  <label>
    First Name: <input id="prinFirstName" type="text" name="prinFirstName" size="15"/>
  </label>
  <label>
    Surname: <input id="prinSurname" type="text" name="prinSurname" size="20"/>
  </label>
  <label>
    Phone: <input id="prinPhone" type="text" name="prinPhone" size="15"/>
  </label>
  <label>
    Cell: <input id="prinCell" type="text" name="prinCell" size="15"/>
  </label>
  <br/>
  <label>
    Email: <input id="prinEmail" type="email" name="prinEmail" size="60"/>
  </label>
</fieldset>
<br/>
<fieldset>
  <legend>Back Office:</legend>
  <label>
    Firstname: <input id="offFirstName" type="text" name="offFirstName" size="15"/>
  </label>
  <label>
    Surname: <input id="offSurname" type="text" name="offSurname" size="20"/>
  </label>
  <label>
    Phone: <input id="offPhone" type="text" name="offPhone" size="15" required/>
  </label>
  <label>
    Cell: <input id="offCell" type="text" name="offCell" size="15" required/>
  </label>
  <br/>
  <label>
    Email: <input id="offEmail" type="email" name="offEmail" size="60" required/>
  </label>
</fieldset>
<fieldset>
  <legend>Area:</legend>
  <label id="addPostCode" style="display:block">
    Enter Postal Code to add:
    <input id="pCode" type="text" name="postalCode" size="15"/>
    <button id=add-pcode type="button">
      Add
    </button>
  </label>
  <label id="editPostCode" style="display:none">
    Edit selected Postal Code:
    <input id="selectedPCode" type="text" name="postalCode" size="15"/>
    <button id=update-pcode type="button">
      Update
    </button>
    <button id=remove-pcode type="button">
      Delete
    </button>
  </label>

  <hr/>
  <div id="posPCode">
    <table id="tablePCode" class="tableSection">
      <tr> </tr>
    </table>
  </div>
  <hr/>
</fieldset>

<div id="addPracticeButtons" style="display:none">
  <!-- <input id="formAddPractice addPractice" type="submit" value="Add Practice"/> -->
  <input id="formAddPractice" type="button" value="Add Practice"/>
</div>
<div id="updatePracticeButtons" style="display:none">
  <input id="formUpdatePractice" type="button" value="Update Practice"/>
  <input id="formDeletePractice" type="button" value="Delete Practice"/>
</div>


<!--<input type="reset"/>-->
