<fieldset>
  <legend>Contact Information</legend>
  <% include ./contact %>
</fieldset>
<br/>
<strong>Cover Required:</strong>
<hr/>
<ul>
  <li id="pl" style="display:none">Personal: none</li>
  <li id="cl" style="display:none">Commercial: none</li>
  <li id="sl" style="display:none">Sasria: none</li>
  <li id="al" style="display:none">Agriculture: none</li>
  <li id="xl" style="display:none">Specialist: none</li>
</ul> 
<hr/>


<div id="addUserButtons" style="display:none">
  <input id="formAddUser" type="button" value="Add User" onclick="submitUser('add')"/>
</div>
<div id="updateUserButtons" style="display:none">
  <input id="formAddUser" type="button" value="Update User" onclick="submitUser('update')"/>
  <input id="formAddUser" type="button" value="Delete User" onclick="deleteUser()"/>
</div>
