<fieldset>
  <legend>Contact Information</legend>
  <% include ./contact %>
</fieldset>

<fieldset>
  <legend>Information:</legend>
  <% include ./info %>
</fieldset>

<fieldset>
  <legend>Cover Required*:</legend>
  <% include ./cover %>
</fieldset>

<!-- Assign to Agent or Adviser -->

<div id= "assign-prompt" class="intense" style="display:none">
  <label>* Assign to: </label>

  <input  id="assign-agent"
          type="radio"
          name="servicerType"
          value="agent"
          onclick="javascript:assignFork();"
  />
  <label for="assign-agent">Me</label>

  <input  id=assign-adviser
          type="radio"
          name="servicerType"
          value="adviser"
          onclick="javascript:assignFork();"
  />
  <label for="assign-adviser">
    Adviser
    <span class="spacer">
      Note: An adviser cannot be assigned to a lead without the contact's concent!
    </span>
  </label>
</div>

<!-- If assigned to adviser confirmation of approval must be obtained -->

<div id="approval-prompt" class="intense" style="display:none">
  Do you confirm that the contact understands and agrees
  to follow-up contact from an accredited Tied Adviser?
  <label for="trfYes">
    <input id="trfYes" type="radio" name="trfApproval" onclick="javascript:leadOk();"/>
    Yes
  </label>
  <label for="trfNo">
    <input id="trfNo" type="radio" name="trfApproval" onclick="javascript:leadOk();"/>
    No
  </label>
</div>

<!-- Approval not given -->

<div id="noForm" style="display:none">
  <p class="warning">
    You must have the contact's approval to assign a lead to an adviser!
  </p>
</div>

<!-- Approval given -->

<div id="yesForm" style="display:none">
  <fieldset>
    <legend>Contact's Location & Postal Information:</legend>
    <% include ./location %>
  </fieldset>

  <fieldset>
    <legend>Contact's Preferred Contact Times:</legend>
    <% include ./time %>
  </fieldset>
</div>