<div class="nav-menu">
  <ul class="nav-menu-list">
    <li class="nav-menu-item navOptAdmin"><a href="#">Edit Profile</a></li>
    <li class="nav-menu-item navOptAdmin"><a href="#">View Practices</a></li>
    <li class="nav-menu-item navOptAdmin"><a href="#">View Users</a></li>
  </ul> 
</div>