<div class="nav-menu">
    <ul class="nav-menu-list">
      <li class="nav-menu-item navOptLead"><a href="#">Edit Profile</a></li>
      <li class="nav-menu-item navOptLead"><a href="#">Add Lead</a></li>
      <li class="nav-menu-item navOptLead"><a href="#">View Leads</a></li>
    </ul> 
  </div>
