<div>
  <input type="button" value="Leads Allocation" onclick="javascript:toggleView(viewAdminPrac);"/>
  <input type="button" value="Adviser Maintenance" onclick="javascript:toggleView(viewAdminUser);"/>
</div>
