<!--

<div>
  <input type="button" value="Profile" onclick="javascript:profile();"/>
  <h5>Select View:
    <input type="button" value="Leads" onclick="javascript:listLeads();"/>
    <input type="button" value="Advisers" onclick="listAdvisers()"/>
  </h5>
</div>
-->
<div>
  <ul style="list-style-type: none">
    <li class="navPractice"><a href="#">Edit Profile</a></li>
    <li class="navPractice"><a href="#">View Leads</a></li>
    <li class="navPractice"><a href="#">View Advisers</a></li>
  </ul>
</div>