<div>
  <h5>Select Action:
  <input type="button" value="Allocate Leads" onclick="javascript:listLeads();"/>
  <input type="button" value="Maintain Advisers" onclick="listAdvisers()"/>
  </h5>
</div>
