<h2>User Administration</h2>
<!--
=== Display User list ===
-->
<hr/>
<h3>User List</h3>
<div id="tablePos110"></div>
<hr/>
<input type="button" value="Add User" onclick="javascript:toggleView(addUser);"/>
<input type="button" value="Delete User" onclick="javascript:deleteUser();"/>
<input type="button" value="Update User" onclick="javascript:updateUser();"/>
<!--
=== Add User ===
-->
<div id="addUser" style="display:none">
  <% include ./addUser %>
</div>
<!--
=== End of Add User ===
-->
<!--
=== Delete User ===
-->
<div id="deleteUser" style="display:none">
  <fieldset>
    <legend>Delete User</legend>
    <label>
      Firstname: <input type="text" name="userdelete" size="15"/>
    </label>
    <input type="button" value="Delete User" onclick="deleteUser()"/>
  </fieldset>
</div>
<!--
=== End of Delete User ===
-->
<!--
=== Update User ===
-->
<div id="updateUser" style="display:none">
  <fieldset>
    <legend>Update User</legend>
    <label>
      Firstname: <input type="text" name="userupdate" size="15"/>
    </label>
    <label>
      Surname: <input type="text" name="userupdate" size="20"/>
    </label>
    <input type="button" value="Update User" onclick="updateUser()"/>
  </fieldset>
</div>
<!--
=== End of Update User ===
-->
