<!--
Practice Description attributes
-->
<fieldset>
  <legend>Practice Information:</legend>
  <label>
    Practice Code: <input id="p0" type="text" name="pracCode" size="10"/>
  </label>
  <label>
    Practice Name: <input id="p1" type="text" name="pracName" size="45"/>
  </label>
  <label>
    Practice Phone: <input id="p2" type="text" name="pracPhone" size="15"/>
  </label>
  <br/>
  <label>
    Practice Email: <input id="p3" type="text" name="pracEmail" size="60"/>
  </label>
</fieldset>  
<br/>
<fieldset>
  <legend>Principle:</legend>
  <label>
    Firstname: <input type="text" name="userdata" size="15"/>
  </label>
  <label>
    Surname: <input type="text" name="userdata" size="20"/>
  </label>
  <label>
    Phone: <input type="text" name="userdata" size="15"/>
  </label>
  <label>
    Cell: <input type="text" name="userdata" size="15"/>
  </label>
  <br/>
  <label>
    Email: <input type="text" name="userdata" size="60"/>
  </label>    
</fieldset>
<br/>
<fieldset>
  <legend>Back Office:</legend>
  <label>
    Firstname: <input type="text" name="userdata" size="15"/>
  </label>
  <label>
    Surname: <input type="text" name="userdata" size="20"/>
  </label>
  <label>
    Phone: <input type="text" name="userdata" size="15"/>
  </label>
  <label>
    Cell: <input type="text" name="userdata" size="15"/>
  </label>
  <br/>
  <label>
    Email: <input type="text" name="userdata" size="60"/>
  </label>    
</fieldset>
<fieldset>
  <legend>Area:</legend>
  <label>
    From Code: <input type="text" name="userdata" size="15"/>
  </label>
  <label>
    To Code: <input type="text" name="userdata" size="15"/>
  </label>
</fieldset>

<div id="addPracticeButtons" style="display:none">
  <input id="formAddPractice" type="button" value="Add Practice" onclick="submitPractice('add')"/>
</div>
<div id="updatePracticeButtons" style="display:none">
  <input id="formAddPractice" type="button" value="Update Practice" onclick="submitPractice('update')"/>
  <input id="formAddPractice" type="button" value="Delete Practice" onclick="deletePractice()"/>
</div>


<!--<input type="reset"/>-->
