<fieldset>
  <legend>Progress Feedback2:</legend>
  <!--
    Quote and Callback
  -->
  <div class="flex-container">
    <div class="flex-item">
      <label for="quoteDate"> Quote Issue Date </label>
      <input id="quoteDate" type="date" name="quoteDate" size="10" required/>
    </div>
    <div class="flex-item">
      <label for="quoteNum"> Quote Number </label>
      <input id="quoteNum" type="text" name="quoteNum" size="15"/>
    </div>
      <div class="flex-item">
      <input id="callBack" type="checkbox" name="callBack" value="call"/>
      <label for="callBack"> Call Back </label>
    </div>
      <div class="flex-item">
      <label for="callDate"> Date </label>
      <input id="callDate" type="date" name="callDate" size="10" required/>
    </div>
      <div class="flex-item">
      <label for="callTime" class="spacer-small"> Time </label>
      <input id="callTime" type="time" name="callTime" size="5"/>
    </div>
      <div class="flex-item">
      <input id="callBefore" type="radio" name="callBA" value="before"/>
      <label for="callBefore"> Before </label>
    </div>
      <div class="flex-item">
      <input id="callAfter" type="radio" name="callBA" value="after"/>
      <label for="callAfter"> After </label>
    </div>
  </div>

  <div class="flex-container">
    <!--
      Acceptance
    -->
    <div class="flex-item">
      <fieldset>
        <legend>Acceptance</legend>
        <div class="flex-container">
          <div class="flex-item">
            <input id="quoteAccepted" type="radio" name="acceptance" value="accepted"/>
            <label for="quoteAccepted"> Quote accepted </label>
          </div>
          <div class="flex-item">
            <input id="quoteDeclined" type="radio" name="acceptance" value="declined"/>
            <label for="quoteDeclined"> Quote declined </label>
          </div>
          <div class="flex-item">
            <input id="quoteExpired" type="radio" name="acceptance" value="expired"/>
            <label for="quoteExpired"> Quote expired </label>
          </div>
          <div class="flex-item">
            <label for="acceptDate"></label>
            <input id="acceptDate" type="date" name="acceptDate" size="10" required/>
          </div>
        </div>
          <div class="flex-item">
            <label for="declineReason"> Quote decline reason </label>
            <input id="declineReason" type="text" name="declineReason" size="50"/>
          </div>

      </fieldset>
    </div>
    <!--
      Issue Policy
    -->
    <div class="flex-item">
      <fieldset>
        <legend>Policy Issuance</legend>
        <div class="flex-container">
          <div class="flex-item">
            <label for="issueDate">Issue Date</label>
            <input id="issueDate" type="date" name="issueDate" size="10" required/>
          </div>
          <div class="flex-item">
            <label for="polNum"> Policy Number </label>
            <input id="polNum3" type="text" name="polNum" size="15"/>
          </div>
        </div>
        <div class="flex-container">
          <div class="flex-item">
            <label for="premium"> Premium * </label>
            <input id="premium" type="text" name="premium" size="10"/>
          </div>
          <div class="flex-item">
            <input id="annually" type="radio" name="frequency" value="annually"/>
            <label for="annually"> annually </label>
          </div>
          <div class="flex-item">
            <input id="monthly" type="radio" name="frequency" value="monthly"/>
            <label for="monthly"> monthly </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div id="leadUpdateAction" style="display:block">
    <button type="button" onclick="updateLeadProgress()">Update Lead Progress</button>
    <button type="button" onclick="resetLeadProgressForm()">Cancel</button>
  </div>
</fieldset>

