<div class="flex-container">
  <div class="flex-item">
    <fieldset>
      <legend>Acceptance</legend>
      <label>
        Street Number <input id="conStreetNum" type="text" name="streetNum" size="5"/>
      </label>
      <label>
        Street Number <input id="conStreetNum" type="text" name="streetNum" size="5"/>
      </label>
    </fieldset>
  </div>
  <div class="flex-item">
    <fieldset>
      <legend>Policy Issuance</legend>
      <label>
        Street Number <input id="conStreetNum" type="text" name="streetNum" size="5"/>
      </label>
    </fieldset>
  </div>
  test 1
</div>
test 2
