<!-- Insurance Lines - checkbox select -->
<label for="pServType">
  <input id="pServType" type="checkbox" name="line" value="PL" onclick="javascript:servPers();"/>
  Personal
</label>
<label for="cServType">
  <input id="cServType" type="checkbox" name="line" value="CL" onclick="javascript:servComm();"/>
  Commercial
</label>
<label for="sServType">
  <input id="sServType" type="checkbox" name="line" value="SL" onclick="javascript:servSasr();"/>
  SASRIA
</label>
<label for="aServType">
  <input id="aServType" type="checkbox" name="line" value="AL" onclick="javascript:servAgri();"/>
  Agriculture
</label>
<label for="xServType">
  <input id="xServType" type="checkbox" name="line" value="XL" onclick="javascript:servSpec();"/>
  Specialist
</label>
