<div class="time-flex-container">

    <div class="time-flex-item">
      Select Day(s):
      <input id="monday" type="checkbox" name="contactDay" value="Monday"/>
      <label for="monday">Mon</label>

      <input id="tuesday" type="checkbox" name="contactDay" value="Tuesday"/>
      <label for="tuesday">Tue</label>

      <input id="wednesday" type="checkbox" name="contactDay" value="Wednesday"/>
      <label for="wednesday">Wed</label>

      <input id="thursday" type="checkbox" name="contactDay" value="Thursday"/>
      <label for="thursday">Thu</label>

      <input id="friday" type="checkbox" name="contactDay" value="Friday"/>
      <label for="friday">Fri</label>

      <input id="saturday" type="checkbox" name="contactDay" value="Saturday"/>
      <label for="saturday">Sat</label >
    </div>

    <div class="flex-item">
      <label for="time" >Time</label>
      <input id="time" type="time" name="time" size="5"/>

      <label for="at" >
        <input id="at" type="radio" name="timeBA" value="at"/> At
      </label>
      <label for="before" >
        <input id="before" type="radio" name="timeBA" value="before"/> Before
      </label>
      <label for="after">
        <input id="after" type="radio" name="timeBA" value="after"/> After
      </label>
    </div>

    <div class="flex-item">
      <div id="comment">
        <textarea id="contactComment" name="comment1" placeholder="Comment">
        </textarea>
      </div>
    </div>


</div>




