
<label for="monday">
  <input id="monday" type="checkbox" name="contactDay" value="Monday"/>
  Mon
</label>
<label for="tuesday">
  <input id="tuesday" type="checkbox" name="contactDay" value="Tuesday"/>
  Tue
</label>
<label for="wednesday">
  <input id="wednesday" type="checkbox" name="contactDay" value="Wednesday"/>
  Wed
</label>
<label for="thursday">
  <input id="thursday" type="checkbox" name="contactDay" value="Thursday"/>
  Thu
</label>
<label for="friday">
  <input id="friday" type="checkbox" name="contactDay" value="Friday"/>
  Fri
</label>
<label for="saturday">
  <input id="saturday" type="checkbox" name="contactDay" value="Saturday"/>
  Sat
</label >
<label for="time" class="spacer">
  Time
  <input id="time" type="time" name="time" size="5"/>
</label>
<label for="before" class="spacer">
  <input id="before" type="radio" name="timeBA" value="before"/> Before
</label>
<label for="after">
  <input id="after" type="radio" name="timeBA" value="after"/> After
</label>
<div id="comment">
  <label for="contactComment">
    Comment:
    <textarea id="contactComment" name="comment1">
    </textarea>
  </label>
</div>