<div class="flex-container-time">

    <div class="flex-item">
      <label for="monday">
        <input id="monday" type="checkbox" name="contactDay" value="Monday"/>
        Mon
      </label>
      <label for="tuesday">
        <input id="tuesday" type="checkbox" name="contactDay" value="Tuesday"/>
        Tue
      </label>
      <label for="wednesday">
        <input id="wednesday" type="checkbox" name="contactDay" value="Wednesday"/>
        Wed
      </label>
      <label for="thursday">
        <input id="thursday" type="checkbox" name="contactDay" value="Thursday"/>
        Thu
      </label>
      <label for="friday">
        <input id="friday" type="checkbox" name="contactDay" value="Friday"/>
        Fri
      </label>
      <label for="saturday">
        <input id="saturday" type="checkbox" name="contactDay" value="Saturday"/>
        Sat
      </label >
    </div>

    <div class="flex-item">
      <label for="time" >
        Time
        <input id="time" type="time" name="time" size="5"/>
      </label>

      <label for="at" >
        <input id="at" type="radio" name="timeBA" value="at"/> At
      </label>
      <label for="before" >
        <input id="before" type="radio" name="timeBA" value="before"/> Before
      </label>
      <label for="after">
        <input id="after" type="radio" name="timeBA" value="after"/> After
      </label>
    </div>

    <div class="flex-item">
      <div id="comment">
        <textarea id="contactComment" name="comment1" placeholder="Comment">
        </textarea>
      </div>
    </div>


</div>




