<!-- SASRIA Insurance Cover Types -->
<label for="sVehicle">
  <input id="sVehicle" type="checkbox" name="sVehicle" value="sVehicle"/>
  Vehicle
</label>
<label for="sProperty">
  <input id="sProperty" type="checkbox" name="sProperty" value="sProperty"/>
  Property
</label>
<label for="sAssets">
  <input id="sAssets" type="checkbox" name="sAsset" value="sAsset"/>
  Assets
</label>
