<!-- Agriculture Insurance Line Cover Types -->
<label for="aAsset">
  <input id="aAsset" type="checkbox" name="AL" value="Asset"/>
  Asset
</label>
<label for="aGame">
  <input id="aGame" type="checkbox" name="AL" value="Game"/>
  Game
</label>
<label for="aFire">
  <input id="aFire" type="checkbox" name="AL" value="Fire"/>
  Fire
</label>
<label for="aCrop">
  <input id="aCrop" type="checkbox" name="AL" value="Crop"/>
  Crop
</label>
<label for="aDairy">
  <input id="aDairy" type="checkbox" name="AL" value="Dairy"/>
  Dairy Farming
</label>
<!--
for = the id of the input element the label relates to
form = the id of the form the label relates to
-->
