<!-- Personnal Insurance Line Cover Types -->
<label for="pVehicle">
  <input id="pVehicle" type="checkbox" name="PL" value="Vehicle"/>
  Private Vehicle
</label>
<label for="pHomeContents">
  <input id="pHomeContents" type="checkbox" name="PL" value="Home Contents"/>
  Home Contents
</label>
<label for="pSOS">
  <input id="pSOS" type="checkbox" name="PL" value="SOS"/>
  SOS
</label>
<label for="pBuilding">
  <input id="pBuilding" type="checkbox" name="PL" value="Building"/>
  Building
</label>
<label for="pWatercraft">
  <input id="pWatercraft" type="checkbox" name="PL" value="Watercraft"/>
  Watercraft
</label>
<label for="pAllRisk">
  <input id="pAllRisk" type="checkbox" name="PL" value="All Risk"/>
  All Risk
</label>
<!--
This list of types is used by the personal insurance
type disply and the personal insurance skill display
-->
