<!-- Specialist Insurance Line Cover Types -->
<label for="xAviation">
  <input id="xAviation" type="checkbox" name="XL" value="Aviation"/>
  Aviation
</label>
<label for="xBondsGuarantees">
  <input id="xBondsGuarantees" type="checkbox" name="XL" value="Bonds & Guarantees"/>
  Bonds & Guarantees
</label>
<label for="xCellCapt">
  <input id="xCellCapt" type="checkbox" name="XL" value="Cell Captive"/>
  Cell Captive
</label>
<label for="xCoporateProperty">
  <input id="xCoporateProperty" type="checkbox" name="XL" value="Coporate Property"/>
  Coporate Property
</label>
<label for="xCrop">
  <input id="xCrop" type="checkbox" name="XL" value="Crop"/>
  Crop
</label>
<label for="xEngineering">
  <input id="xEngineering" type="checkbox" name="XL" value="Engineering"/>
  Engineering
</label>
<label for="xHeavyHaulage">
  <input id="xHeavyHaulage" type="checkbox" name="XL" value="Heavy Haulage"/>
  Heavy Haulage
</label>
<label for="xHospitalityInd">
  <input id="xHospitalityInd" type="checkbox" name="XL" value="Hospitality Industry"/>
  Hospitality Industry
<br/>  
</label>
<label for="xLiability">
  <input id="xLiability" type="checkbox" name="XL" value="Liability"/>
  Liability
</label>
<label for="xMarine">
  <input id="xMarine" type="checkbox" name="XL" value="Marine"/>
  Marine
</label>
<label for="xPrivateClient">
  <input id="xPrivateClient" type="checkbox" name="XL" value="Private Client"/>
  Private Client
</label>
<label for="xSeamlessProd">
  <input id="xSeamlessProd" type="checkbox" name="XL" value="Seamless Prod"/>
  Seamless Product
</label>
<label for="xSpecRealEst">
  <input id="xSpecRealEst" type="checkbox" name="XL" value="Specialist Real Estate"/>
  Specialist Real Estate
</label>
<label for="xStructuredInsurance">
  <input id="xStructuredInsurance" type="checkbox" name="XL" value="Structured Insurance"/>
  Structured Insurance
</label>
<label for="xTaxiSEM">
  <input id="xTaxiSEM" type="checkbox" name="XL" value="Taxi & SEM"/>
  Taxi and SEM
</label>
<label for="xTravel">
  <input id="xTravel" type="checkbox" name="XL" value="Travel"/>
  Travel
</label>
