<!-- Commercial Insurance Cover Types -->
<label for="cBusiness">
  <input id="cBusiness" type="checkbox" name="cBusiness" value="cBusiness"/>
  Business
</label>
<label for="cGuesthouse">
  <input id="cGuesthouse" type="checkbox" name="cGuesthouse" value="cGuesthouse"/>
  Guesthouse
</label>
<label for="cTourLeisEnter">
  <input id="cTourLeisEnter" type="checkbox" name="cTourLeisEnter" value="cTourLeisEnter"/>
  Tourism, Leisure && Entertainment
</label>
<label for="cSmallBusiness">
  <input id="cSmallBusiness" type="checkbox" name="cSmallBusiness" value="cSmallBusiness"/>
  SmallBusiness
</label>
<label for="cDental">
  <input id="cDental" type="checkbox" name="cDental" value="cDental"/>
  Dental
</label>
<label for="cMedical">
  <input id="cMedical" type="checkbox" name="cMedical" value="cMedical"/>
  Medical
</label>
