<!-- SASRIA Insurance Cover Types -->
<label for="sVehicle">
  <input id="sVehicle" type="checkbox" name="service" value="sVehicle"/>
  Vehicle
</label>
<label for="sProperty">
  <input id="sProperty" type="checkbox" name="service" value="sProperty"/>
  Property
</label>
<label for="sAssets">
  <input id="sAssets" type="checkbox" name="service" value="sAsset"/>
  Assets
</label>
