<!-- SASRIA Insurance Line Cover Types -->
<label for="sVehicle">
  <input id="sVehicle" type="checkbox" name="SL" value="Vehicle"/>
  Vehicle
</label>
<label for="sProperty">
  <input id="sProperty" type="checkbox" name="SL" value="Property"/>
  Property
</label>
<label for="sAssets">
  <input id="sAssets" type="checkbox" name="SL" value="Asset"/>
  Assets
</label>
