<!-- Agriculture Insurance Cover Types -->
<label for="aAsset">
  <input id="aAsset" type="checkbox" name="aAsset" value="aAsset"/>
  Asset
</label>
<label for="aGame">
  <input id="aGame" type="checkbox" name="aGame" value="aGame"/>
  Game
</label>
<label for="aFire">
  <input id="aFire" type="checkbox" name="aFire" value="aFire"/>
  Fire
</label>
<label for="aCrop">
  <input id="aCrop" type="checkbox" name="aCrop" value="aCrop"/>
  Crop
</label>
<label for="aDairy">
  <input id="aDairy" type="checkbox" name="aDairy" value="aDairy"/>
  Dairy Farming
</label>
<!--
for = the id of the input element the label relates to
form = the id of the form the label relates to
-->
