<!-- Commercial Insurance Line Cover Types -->
<label for="cBusiness">
  <input id="cBusiness" type="checkbox" name="CL" value="Business"/>
  Business
</label>
<label for="cGuesthouse">
  <input id="cGuesthouse" type="checkbox" name="CL" value="Guesthouse"/>
  Guesthouse
</label>
<label for="cTourLeisEnter">
  <input id="cTourLeisEnter" type="checkbox" name="CL" value="Tourism,Leisure & Entertainment"/>
  Tourism, Leisure & Entertainment
</label>
<label for="cSmallBusiness">
  <input id="cSmallBusiness" type="checkbox" name="CL" value="Small Business"/>
  Small Business
</label>
<label for="cDental">
  <input id="cDental" type="checkbox" name="CL" value="Dental"/>
  Dental
</label>
<label for="cMedical">
  <input id="cMedical" type="checkbox" name="CL" value="Medical"/>
  Medical
</label>
