<!-- Personnal Insurance Cover Types -->
<label for="pVehicle">
  <input id="pVehicle" type="checkbox" name="pVehicle" value="pVehicle"/>
  Private Vehicle
</label>
<label for="pHomeContents">
  <input id="pHomeContents" type="checkbox" name="pHomeContents" value="pHomeContents"/>
  Home Contents
</label>
<label for="pSOS">
  <input id="pSOS" type="checkbox" name="pSOS" value="pSOS"/>
  SOS
</label>
<label for="pBuilding">
  <input id="pBuilding" type="checkbox" name="pBuilding" value="pBuilding"/>
  Building
</label>
<label for="pWatercraft">
  <input id="pWatercraft" type="checkbox" name="pWatercraft" value="pWatercraft"/>
  Watercraft
</label>
<label for="pAllRisk">
  <input id="pAllRisk" type="checkbox" name="pAllRisk" value="pAllRisk"/>
  All Risk
</label>
<!--
This list of types is used by the personal insurance
type disply and the personal insurance skill display
-->
