<!-- Specialist Insurance Cover Types -->
<label for="xAviation">
  <input id="xAviation" type="checkbox" name="service" value="xAviation"/>
  Aviation
</label>
<label for="xCellCapt">
  <input id="xCellCapt" type="checkbox" name="service" value="xCellCapt"/>
  Cell Captive
</label>
<label for="xCrop">
  <input id="xCrop" type="checkbox" name="service" value="xCrop"/>
  Crop
</label>
<label for="xHeavyHaulage">
  <input id="xHeavyHaulage" type="checkbox" name="service" value="xHeavyHaulage"/>
  Heavy Haulage
</label>
<label for="xLiability">
  <input id="xLiability" type="checkbox" name="service" value="xLiability"/>
  Liability
</label>
<label for="xPrivateClient">
  <input id="xPrivateClient" type="checkbox" name="service" value="xPrivateClient"/>
  Private Client
</label>
<label for="xStructuredInsurance">
  <input id="xStructuredInsurance" type="checkbox" name="service" value="xStructuredInsurance"/>
  Structured Insurance
</label>
<label for="xTaxiSEM">
  <input id="xTaxiSEM" type="checkbox" name="service" value="xTaxiSEM"/>
  Taxi and SEM
</label>
<label for="xSpecRealEst">
  <input id="xSpecRealEst" type="checkbox" name="service" value="xSpecRealEst"/>
  Specialist Real Estate
</label>
  <br/>
<label for="xBondsGuarantees">
  <input id="xBondsGuarantees" type="checkbox" name="service" value="xBondsGuarantee"/>
  Bonds & Guarantees
</label>
<label for="xCoporateProperty">
  <input id="xCoporateProperty" type="checkbox" name="service" value="xCoporateProperty"/>
  Coporate Property
</label>
<label for="xEngineering">
  <input id="xEngineering" type="checkbox" name="service" value="xEngineering"/>
  Engineering
</label>
<label for="xHospitalityInd">
  <input id="xHospitalityInd" type="checkbox" name="service" value="xHospitalityInd"/>
  Hospitality Industry
</label>
<label for="xMarine">
  <input id="xMarine" type="checkbox" name="service" value="xMarine"/>
  Marine
</label>
<label for="xSeamlessProd">
  <input id="xSeamlessProd" type="checkbox" name="service" value="xSeamlessProd"/>
  Seamless Product
</label>
<label for="xTravel">
  <input id="xTravel" type="checkbox" name="service" value="xTravel"/>
  Travel
</label>
