<div id="version">
  <small>ver 0.07</small>
  <!--
    0.07 - Split start 11/09/2020
    0.06 - New leads view 29/05/2020
    0.05 - New menu structure
  -->
</div>

<div id="headerMain" style="display:block">
  <h1 id="mainTitle" class="center">Signpost Leads Management</h1>
</div>

<div id="headerSub" style="display:none">
  <h5 id="subTitle">Signpost Leads Management</h5>
  <h2 id="panelName">Panel Name</h2>
  <!--
    <span class="closeP" onclick="javascript:openMenu()">&times;</span>
  -->
</div>

<% if (user !== "") { %>
  <p id="user"><%= user %> (<%= view %><% if (userPrac !== "") { %> : <%= userPrac %><% } %>)</p>
<% } %>
<% if (user === "") { %>
  <p id="user">User Authentication Required</p>
<% } %>