<!-- Menu generator -->
<div class="nav-menu">
  <ul class="nav-menu-list">
    <h3><%= title %></h3>
    <% menuDef.forEach(function(option){ %>
      <li class="nav-menu-item" onclick=<%= option.func %>>
        <a href="#"><%= option.text %></a>
      </li>
    <% }) %>
  </ul>
</div>