<!--
User Description attributes
-->
<label>
  Firstname: <input type="text" name="userdata" size="15"/>
</label>
<label>
  Surname: <input type="text" name="userdata" size="20"/>
</label>
<label>
  Password: <input type="text" name="userdata" size="15"/>
</label>
<br/>
<label>
  Phone: <input type="text" name="userdata" size="15"/>
</label>
<label>
  Cell: <input type="text" name="userdata" size="15"/>
</label>
<label>
  Email: <input type="text" name="userdata" size="60"/>
</label>
<br/>
<label>
  Practise: <input type="text" name="userdata" size="60"/>
</label>
<br/>
<!--
User Role Selection
-->
<label><b>User Role:</b></labelh4>
<label for="roleA">
  <input id="roleA" type="radio" name="role" onclick="javascript:isAdviser();"/>
  System Administrator
</label>
<label for="roleB">
  <input id="roleB" type="radio" name="role" onclick="javascript:isAdviser();"/>
  Practise Administrator
</label>
<label for="roleC">
  <input id="roleC" type="radio" name="role" onclick="javascript:isAdviser();"/>
  Adviser
</label>
<label for="roleD">
  <input id="roleD" type="radio" name="role" onclick="javascript:isAdviser();"/>
  Capture Leads
</label>
<br/>
<!--
If Adviser select service abilities
-->
<div id="selectAbility" style="display:none">
  <strong>Adviser Service Abilities*<strong>
  <fieldset>
    <legend>Select insurance types</legend>
    <% include ./insuranceTypes %>
    <!--
    === Sub-view for Type of Cover ===
    -->
    <!-- Personnal Insurance Selected -->
    <form id="coverForm" name="coverForm">

      <div id="accPersonal" >
        <fieldset>
          <legend>Select personal insurance services</legend>
          <% include ./typePersonal %>
        </fieldset>
      </div>
      <!-- Commercial Insurance Selected -->
      <div id="accCommercial" >
        <fieldset>
          <legend>Select commercial insurance services</legend>
          <% include ./typeCommercial %>
        </fieldset>
      </div>
      <!-- SASRIA Insurance Selected -->
      <div id="accSasria" >
        <fieldset>
          <legend>Select Sasria services</legend>
          <% include ./typeSasria %>
        </fieldset>
      </div>
      <!-- Agriculture Insurance Selected -->
      <div id="accAgriculture" >
        <fieldset>
          <legend>Select agricultural insurance services</legend>
          <% include ./typeAgri %>
        </fieldset>
      </div>
      <!-- Specialist Insurance Selected -->
      <div id="accSpecialist" >
        <fieldset>
          <legend>Type of specialist insurance services</legend>
          <% include ./typeSpecialist %>
        </fieldset>
      </div>
    </form>
  </fieldset>
</div>
<input type="button" value="Add User" onclick="submitUser()"/>
