<h2>Admin: Practice & User Maintenance</h2>
<!--
=====================================
=== Practice Administration Panel ===
=====================================
-->
<div id=panelAdminPrac style="display:none">
  <!--
   List practices
  -->
  <h3 id="title2">Practice List</h3>
  <!--
   Add Practice Button
  -->
  <input type="button" value="Add User" onclick="javascript:addPractice();"/>
  <hr/>
  <div id="tPos2">
    Place holder for the display of the list of Practices
    <!-- Place holder for the display of the list of practices -->
  </div>
  <hr/>
    
</div>
<!--
=================================
=== User Administration Panel ===
=================================
-->
<div id=panelAdminUser style="display:none">
  <!--
   List Users
  -->
  <h3 id="title0">User List</h3>
  <!--
   Add User Button
  -->
  <input type="button" value="Add User" onclick="javascript:addUser();"/>
  <hr/>
  <div id="tPos0">
    Place holder for the display of the list of Users
    <!-- Place holder for the display of the list of Leads -->
  </div>
  <hr/>

</div>

<!--
==================================
=== User Maintenance Functions ===
==================================
-->
<!-- The Modal (source w3schools) -->
<div id="modalBox" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 id="modal-header-text">XXXXXX</h2>
    </div>
    <div class="modal-body">
      <div id="addUser" style="display:none">
        <form id="formAddUser">
          <% include ./userAdd %>
        </form>
      </div>
      
    </div>
    <div class="modal-footer">
      * = mandatory
      <span id="userErr"> </span>
    </div>
  </div>
</div>
<!--
======================================
=== Practise Maintenance Functions ===
======================================
-->
<!-- The Practice Modal (source w3schools) -->
<div id="modalPrac" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 id="modal-header-prac">XXXXXX</h2>
    </div>
    <div class="modal-body">
      <div id="addPractice" style="display:none">
        <form id="formAddPractice">
          <% include ./practiceAdd %>
        </form>
      </div>
      
    </div>
    <div class="modal-footer">
      * = mandatory
      <span id="practiceErr"> </span>
    </div>
  </div>
</div>