<!--
=====================================
=== Adviser Role Functionality UI ===
=====================================
-->
<!--
--------------------------------------
--- List leads assigned to Adviser ---
--------------------------------------
-->

<div id=panelAdvLeads style="display:none">

  <h3 id="title4">Adviser Leads</h3>

  <hr/>

  <div id="tPos4">
    Place holder for the display of the list of Leads
    <!-- Place holder for the display of the list of Leads -->
  </div>

  <hr/>

  <input id="update-lead" type="button" value="Update Lead" onclick="javascript:updateAdviser();"/>
  <input id="reject-lead" type="button" value="Reject Lead" onclick="javascript:rejectLead();"/>
  <input id="close-lead" type="button" value="Close Lead" onclick="javascript:closeLead();"/>

</div>

<!--
============================
=== Adviser's own detail ===
============================
-->