<!--
========================================
=== List Leads Allocated to Practice ===
========================================
-->
<div id="panelLeadList" style="display:none">
  <span class="closeP" onclick="javascript:leadsViewOff()">&times;</span>
  <h3 id="title1">Allocated Leads List</h3>

  <hr/>

  <div id="lead-assign-filter">
    <b>Filter:</b>
    <label for="lead-assign-ref-filter">Ref No.:</label>
    <input id="lead-assign-ref-filter" type="text" placeholder="Lead Ref No." title="Lead Ref No." size="11">

    <label for="lead-assign-language-filter">Language:</label>
    <input id="lead-assign-language-filter" type="text" list="lang" placeholder="Language" title="Language" size="12">
    <datalist id="lang">
      <option value="">
      <option value="Afrikaans">
      <option value="English">
    </datalist>

    <label for="lead-assign-postal-filter">Postal Code:</label>
    <input  id="lead-assign-postal-filter" type="text" placeholder="Postal Code" title="Postal Code" size="8">

    <label for="lead-assign-suburb-filter">Suburb:</label>
    <input  id="lead-assign-suburb-filter" type="text" placeholder="Suburb" title="Suburb" size="20">

    <label for="lead-assign-service-filter">Service Line:</label>
    <input id="lead-assign-service-filter" type="text" placeholder="Service" title="Service" size="3"/>

    <input id="apply-prac-filter" type="button" value="Apply Filter" onclick="filterTable('tPos1', '1')"/>
  </div>

  <div id="tPos1">
    Place holder for the display of the list of Leads
    <!-- Place holder for the display of the list of Leads -->
  </div>

  <hr/>
  <!--
  <input type="button" value="Assign Adviser" onclick="javascript:allocateAdviser();"/>
  <input type="button" value="Reject Lead" onclick="javascript:rejectLead();"/>
  <input type="button" value="Reassign Lead" onclick="javascript:reassignLead();"/>
  -->
</div>
<!--
========================================
=== List Advisers Linked to Practice ===
========================================
-->
<div id="panelAdvList" style="display:none">
  <span class="closeP" onclick="javascript:AdvViewOff()">&times;</span>
  <h3 id="title3">Adviser List</h3>

  <hr/>

  <div id="advSearch">
    Search:
  </div>

  <div id="tPos3">
    Place holder for the display of the list of advisers
    <!-- Place holder for the display of the list of advisers -->
  </div>

  <hr/>

  <input type="button" value="Add Adviser" onclick="javascript:addAdviser();"/>
  <input type="button" value="Update Adviser" onclick="javascript:updateAdviser();"/>
  <input type="button" value="Remove Adviser" onclick="javascript:removeAdviser();"/>

</div>




<!--
=== Allocate Lead to Adviser ===
-->

<div id="allocate" style="display:none">
  <fieldset>
    <legend>Practice View</legend>
    <br/>
    <input type="button" value="Allocate" onclick="allocLead()"/>
  </fieldset>
  <br/>
</div>

<!-- Update Lead Status -->
<!-- Reject Lead Appointment -->

<div id="advAdmin" style="display:none">
  <h2>Adviser Administration</h2>
</div>

<!-- Add Adviser -->
<!-- Delete Adviser -->
<!-- Update Adviser info and/or skill -->