<h2>Admin: Practice & User Maintenance</h2>
<!--
=====================================
=== Practice Administration Panel ===
=====================================
-->
<div id=panelAdminPrac style="display:none">
  <!--
   List practices
  -->
  <h3 id="title2">Practice List</h3>
  <hr/>
  <div id="tPos2">
    Place holder for the display of the list of Practices
    <!-- Place holder for the display of the list of practices -->
  </div>
  <hr/>
  <!--
   Practice Maintenance Actions
  -->
  <input type="button" value="Add Practice" onclick="javascript:addPractice();"/>
  <input type="button" value="Update Practice" onclick="javascript:updatePractice();"/>
  <input type="button" value="Delete Practice" onclick="javascript:deletePractice();"/>
</div>
<!--
=================================
=== User Administration Panel ===
=================================
-->
<div id=panelAdminUser style="display:none">
  <!--
   List Users
  -->
  <h3 id="title0">User List</h3>
  <hr/>
  <div id="tPos0">
    Place holder for the display of the list of Users
    <!-- Place holder for the display of the list of Leads -->
  </div>
  <hr/>
  <!--
   User Maintenance Actions
  -->
  <input type="button" value="Add User" onclick="addUser()"/>
  <input type="button" value="Update User" onclick="javascript:updateUser();"/>
  <input type="button" value="Delete User" onclick="javascript:deleteUser();"/>
</div>

<!--
==================================
=== User Maintenance Functions ===
==================================
-->
<!-- The Modal (source w3schools) -->
<div id="modalBox" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Add User</h2>
    </div>
    <div class="modal-body">
      <div id="addUser" style="display:none">
        <form id="formAddUser">
          <% include ./userAdd %>
        </form>
      </div>
      <div id="updateUser" style="display:none">
        <form id="formUpdateUser">
          <% include ./userUpdate %>
        </form>
      </div>
      <div id="deleteUser" style="display:none">
        <form id="formDeleteUser">
          <% include ./userDelete %>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      * = mandatory
    </div>
  </div>
</div>
<!--
======================================
=== Practise Maintenance Functions ===
======================================
-->
<div id="viewAdminPrac">
  <% include ./panelAdminPrac %>
</div>
