<!--
=====================================
=== Adviser Role Functionality UI ===
=====================================
-->
<!--
--------------------------------------
--- List leads assigned to Adviser ---
--------------------------------------
-->

<div id=panelAdvLeads style="display:none">

  <h3 id="title4">Adviser Leads</h3>

  <hr/>

  <div id="tPos4">
    Place holder for the display of the list of Leads
    <!-- Place holder for the display of the list of Leads -->
  </div>

  <hr/>

</div>

<!--
============================
=== Adviser's own detail ===
============================
-->