<h2>Login:</h2>
<p> Please provide your credentials </p>
<p id="prompt"> </p>
<p>
  User Id: <input type="text" name="logindata" value="lead@example.com"/>

  <br/>
  Password: <input type="password" name="logindata" value="abc123!"/>
</p>

<input type="button" value="Submit" onclick="login()"/>