<!--
======================
=== Add Lead Panel ===
======================
-->
<div id=panelAddLead style="display:none">
  <% include ./addLead %>
</div>

<!--
========================
=== View Leads Panel ===
========================
-->
<div id=panelViewLead style="display:none">
  <h3 id="title5">View Lead</h3>
  <hr/>
  <div id="lead-selector">
    <b>Selection Criteria:</b>
    <br/>
    Lead Ref No.
    <input type="text" id="view-lead-ref-no" placeholder="Lead Ref No." title="Lead Ref No.">
    Contact Surname
    <input type="text" id="view-lead-con-surname" placeholder="Contact Surname" title="Contact Surname">
    Contact Name
    <input type="text" id="view-lead-con-name" placeholder="Contact Name" title="Contact Name">
    <br/>
    Entity Name
    <input type="text" id="view-lead-org-name" placeholder="Organisation Name" title="Organisation Name">
    ID/Registration Number
    <input type="text" id="view-lead-ref-id" placeholder="ID/Registration No." title="ID/Registration Nunmber">
    
    <input id="find-lead-btn" type="button" value="Find" onclick="javascript:findLead()"/>
  </div>
  <br/>
  <b>Result:</b>
  <br/>
  <hr/>
  <div id="tPos5">
    Place holder for the display of Leads
    <!-- Place holder to display a list of Leads -->
  </div>
  <hr/>
</div>