<h2>Practice & User Administration</h2>
<br/>
<!--
=== User Administration Panel ===
-->
<div id=panelAdminPrac style="display:none">
  <!--
  === List practises ===
  -->
  <h3 id="list2">Practice List</h3>
  <hr/>
  <div id="table2">
    Place holder for the display of the list of Practices
    <!-- Place holder for the display of the list of Leads -->
  </div>
  <hr/>
  <!--
  === Practice Maintenance Actions ===
  -->
  <input type="button" value="Add Practice" onclick="javascript:addPractice();"/>
  <input type="button" value="Update Practice" onclick="javascript:updatePractice();"/>
  <input type="button" value="Delete Practice" onclick="javascript:deletePractice();"/>
</div>
<!--
=== User Administration Panel ===
-->
<div id=panelAdminUser style="display:none">
  <!--
  === List Users ===
  -->
  <h3 id="list0">User List</h3>
  <hr/>
  <div id="table0">
    Place holder for the display of the list of Users
    <!-- Place holder for the display of the list of Leads -->
  </div>
  <hr/>
  <!--
  === Practise Maintenance Actions ===
  -->
  <input type="button" value="Add User" onclick="javascript:addUser();"/>
  <input type="button" value="Update User" onclick="javascript:updateUser();"/>
  <input type="button" value="Delete User" onclick="javascript:deleteUser();"/>
</div>

<!--
=============================
=== User Maintenence View ===
=============================
-->
<div id="viewAdminUser">
  <% include ./panelAdminUser %>
</div>
<!--
=============================
=== User Maintenence View ===
=============================
-->
<div id="viewAdminPrac">
  <% include ./panelAdminPrac %>
</div>
