<h2>Admin: Practice & User Maintenance</h2>
<!--
=====================================
=== Practice Administration Panel ===
=====================================
-->
<div id=panelAdminPrac style="display:none">
  
  <h3 id="title2">Practice List</h3>
  
  <input type="button" value="Add Practice" onclick="javascript:addPractice();"/>
  
  <hr/>

  <div id="tPos2">
    Place holder for the display of the list of Practices
    <!-- Place holder for the display of the list of practices -->
  </div>

  <hr/>
  
</div>
<!--
=================================
=== User Administration Panel ===
=================================
-->
<div id=panelAdminUser style="display:none">
  
  <h3 id="title0">User List</h3>
  
  <input type="button" value="Add User" onclick="javascript:addUser();"/>

  <hr/>

  <div id="tPos0">
    Place holder for the display of the list of Users
    <!-- Place holder for the display of the list of Leads -->
  </div>

  <hr/>

</div>

