
<h2><%= title %></h2>
<p> Please provide your credentials </p>
<p id="prompt"><%= prompt %></p>

<form id="login" action="/" method="POST">
  <p>
    User Id: <input type="text" name="logindata" value="lead@example.com" required/>
    <br/>
    Password: <input type="password" name="logindata" value="abc123!" required/>
  </p>
  <input type="submit" value="Login">

</form>
