<!--
=====================================
=== Practice Administration Panel ===
=====================================
-->
<div id=panelAdminPrac style="display:none">

  <span class="closeP" id="close-practice-view">&times;</span>

  <h3 id="title2">Practice List</h3>

  <div class="center">
    <input id="add-practice" type="button" value="Add Practice"/>
  </div>

  <hr/>

  <div id="tPos2">
    Place holder for the display of the list of Practices
    <!-- Place holder for the display of the list of practices -->
  </div>

  <hr/>

</div>
<!--
=================================
=== User Administration Panel ===
=================================
-->
<div id=panelAdminUser style="display:none">

  <span class="closeP" id="close-users-view">&times;</span>

  <h3 id="title0">User List</h3>

  <div class="center">
    <input id="add-user" type="button" value="Add User"/>
  </div>

  <hr/>

  <div id="tPos0">
    Place holder for the display of the list of Users
    <!-- Place holder for the display of the list of Leads -->
  </div>

  <hr/>

</div>