<h2 id="viewPracHead">Practice View</h2>
<!--
========================================
=== List Leads Allocated to Practice ===
========================================
-->
<div id="panelLeadList" style="display:none">
  
  <h3 id="title1">Lead List</h3>

  <hr/>

  <div id="tPos1">
    Place holder for the display of the list of Leads
    <!-- Place holder for the display of the list of Leads -->
  </div>

  <hr/>
  <!--
  <input type="button" value="Assign Adviser" onclick="javascript:allocateAdviser();"/>
  <input type="button" value="Reject Lead" onclick="javascript:rejectLead();"/>
  <input type="button" value="Reassign Lead" onclick="javascript:reassignLead();"/>
  -->
</div>
<!--
========================================
=== List Advisers Linked to Practice ===
========================================
-->
<div id="panelAdvList" style="display:none">
  
  <h3 id="title3">Adviser List</h3>

  <hr/>

  <div id="tPos3">
    Place holder for the display of the list of advisers
    <!-- Place holder for the display of the list of advisers -->
  </div>

  <hr/>
 
  <input type="button" value="Add Adviser" onclick="javascript:addAdviser();"/>
  <input type="button" value="Update Adviser" onclick="javascript:updateAdviser();"/>
  <input type="button" value="Remove Adviser" onclick="javascript:removeAdviser();"/>
 
</div>




<!--
=== Allocate Lead to Adviser ===
-->

<div id="allocate" style="display:none">
  <fieldset>
    <legend>Practice View</legend>
    <br/>
    <input type="button" value="Allocate" onclick="allocLead()"/>
  </fieldset>
  <br/>
</div>

<!-- Update Lead Status -->
<!-- Reject Lead Appointment -->

<div id="advAdmin" style="display:none">
  <h2>Adviser Administration</h2>
</div>

<!-- Add Adviser -->
<!-- Delete Adviser -->
<!-- Update Adviser info and/or skill -->
