<h2>Practise View</h2>

<!--
=== List leads assigned to practise ===
-->
<h3 id="dList">Lead List</h3>
<hr/>
<div id="tablePos1">
  Place holder for the display of the list of Leads
  <!-- Place holder for the display of the list of Leads -->
</div>
<hr/>
<input type="button" value="Allocate Lead" onclick="javascript:allocateLead();"/>
<input type="button" value="Reject Lead" onclick="javascript:rejectLead();"/>
<input type="button" value="Reassign Lead" onclick="javascript:reassignLead();"/>
<!--
=== Allocate Lead to Adviser ===
-->

<div id="allocate" style="display:none">
  <fieldset>
    <legend>Practise View</legend>

    <br/>
    <input type="button" value="Allocate" onclick="allocLead()"/>
  </fieldset>
  <br/>
</div>
<!--
=== End of Allocate lead to Adviser ===
-->
<!-- Update Lead Status -->
<!-- Reject Lead Appointment -->

<div id="advAdmin">
  <h2>Adviser Administration</h2>
</div>
<!-- Add Adviser -->
<!-- Delete Adviser -->
<!-- Update Adviser info and/or skill -->

<!--
=== End of Practise View ===
-->
