<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LDM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
  <small id="version">ver 0.04</small>
	<header>
    <h1>Leads Distribution Management</h1>
    <!--
      Record information about a short term insurance need in order to pass
      the lead on to an adviser located in the area of the contact person.
    -->
    <p id="user"> </p>
	</header>

	<nav>
    <h4>Select:</h4>
    <div id="navLogin" style="display:none">
      <% include ./partials/navLogin %>
    </div>
    <div id="navAdmin" style="display:none">
      <% include ./partials/navAdmin %>
    </div>
    <div id="navLead" style="display:none">
      <% include ./partials/navLead %>
    </div>
    <div id="navPractice" style="display:none">
      <% include ./partials/navPractice %>
    </div>
    <div id="navAdviser" style="display:none">
      <% include ./partials/navAdviser %>
    </div>
	</nav>

	<section>
    <!--
    ===========================================
    === Modal Display for Maintenance Pages ===
    ===========================================
    -->

    <!-- The Modal (source w3schools) -->
    <div id="modalBox" class="modal">
      <!-- Modal content -->
      <div class="modal-content">

        <div class="modal-header">
          <span class="close">&times;</span>
          <h2 id="modal-header-text">XXXXXX</h2>
        </div>

        <div class="modal-body">
          <!-- Display User Detail View -->
          <div id="displayUser" style="display:none">
            <form id="formAddUser">
              <% include ./partials/modalUser %>
            </form>
          </div>
          
          <!-- Display Practice Detail View -->
          <div id="addPractice" style="display:none">
            <form id="formAddPractice">
              <% include ./partials/modalPractice %>
            </form>
          </div>
          
          <!-- Display Lead Detail View -->
          <div id="displayLead" style="display:none">
            <form id="formLead">
              <% include ./partials/modalLead %>
            </form>            
          </div>
          
        </div>

        <div class="modal-footer">
          * = mandatory
          <p id="errMsg"> </p>
        </div>

      </div>
    </div>

    <!--
    ==========================
    === Login View Display ===
    ==========================
    -->
    <div id="viewLogin" style="display:none">
      <% include ./partials/viewLogin %>
    </div>

    <!--
    =============================
    === User Maintenence View ===
    =============================
    -->
    <div id="viewAdmin" style="display:none">
      <% include ./partials/viewAdmin %> 
    </div>

    <!--
    ==================
    === Leads View ===
    ==================
    -->
    <div id="viewLead" style="display:none">
      <% include ./partials/viewLead %> 
    </div>
    <!--
    =====================
    === Practise View ===
    =====================
    -->
    <div id="viewPractice" style="display:none">
      <% include ./partials/viewPractice %>
    </div>

    <!--
    ====================
    === Adviser View ===
    ====================
    -->
    <div id="viewAdviser" style="display:none">
      <% include ./partials/viewAdviser %>
    </div>
		
	</section>

	<footer>
		Copyright © J. van Schalkwyk (nimbledesign.co.za) 2018
	</footer>

  <!--
  <script src="javascripts/script.js"></script>
  -->
  <script src="javascripts/script-general.js"></script>
  <script src="javascripts/script-utils.js"></script>
  <script src="javascripts/script-admin.js"></script>
  <script src="javascripts/script-lead.js"></script>
  <script src="javascripts/script-practice.js"></script>
  <script src="javascripts/script-adviser.js"></script>
    
</body>
</html>