<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LDM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
  <small id="version">ver 0.00</small>
	<header>
		<h1>Leads Distribution Management System</h1>
    <p id="user"> </p>
	</header>

	<nav>
    <h4>Select Action:</h4>
    <div id="navLogin" style="display:none">
      <% include ./partials/navLogin %>
    </div>
    <div id="navAdmin" style="display:none">
      <% include ./partials/navAdmin %>
    </div>
    <div id="navLead" style="display:none">
      <% include ./partials/navLead %>
    </div>
    <div id="navPractise" style="display:none">
      <% include ./partials/navPractise %>
    </div>
    <div id="navAdviser" style="display:none">
      <% include ./partials/navAdviser %>
    </div>
	</nav>

	<section>
		<!--
    ==========================
    === Login View Display ===
    ==========================
    -->
    <div id="viewLogin">
      <% include ./partials/viewLogin %>
    </div>
    <!--
    =============================
    === User Maintenence View ===
    =============================
    -->
    <div id="viewAdmin">
      <% include ./partials/viewAdmin %>
    </div>
    
    <!--
    ===============================
    === Capture Leads Main View ===
    ===============================
    -->
    <div id="viewLead">
      <% include ./partials/viewLead %>
    </div>
    <!--
    =====================
    === Practise View ===
    =====================
    -->
    <div id="viewPractise">
      <% include ./partials/viewPractise %>
    </div>
    <!--
    ====================
    === Adviser View ===
    ====================
    -->
    <div id="viewAdviser">
      <% include ./partials/viewAdviser %>
    </div>
	</section>

	<footer>
		Copyright © J. van Schalkwyk (nimbledesign.co.za) 2018
	</footer>

  <script src="javascripts/script.js"></script>

</body>
</html>
