<!DOCTYPE html>

<html>
<head>

  <meta charset="utf-8">
  <title>LDM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="/javascripts/script-start.js" defer></script>

</head>

<body>

  <!-- Page Header Content -->
  <header>
    <%- include('partials/uiHeader'); %>
  </header>

  <section id="login-section" style="display:none">

    <!-- Display Login View -->
    <% if (view === "login") { %>
      <div id="login-view" style="display:block">
        <%- include('partials/viewLogin'); %>
      </div>
    <% } %>

	</section>

	<footer>
    <%- include('partials/uiFooter'); %>
	</footer>

</body>
</html>